In [1]:
#Import Modules
import os
import deconvolution_tools as dt
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
drive_path = '/Volumes/Brain2017/data/dynamic-brain-workshop/brain_observatory_cache/'

from allensdk.core.brain_observatory_cache import BrainObservatoryCache
manifest_file = os.path.join(drive_path,'brain_observatory_manifest.json')
boc = BrainObservatoryCache(manifest_file=manifest_file)

print boc.get_all_cre_lines()
print boc.get_all_targeted_structures()

[u'Cux2-CreERT2', u'Emx1-IRES-Cre', u'Nr5a1-Cre', u'Rbp4-Cre_KL100', u'Rorb-IRES2-Cre', u'Scnn1a-Tg3-Cre']
[u'VISal', u'VISam', u'VISl', u'VISp', u'VISpm', u'VISrl']

In [3]:
pd.DataFrame(boc.get_experiment_containers(cre_lines=['Emx1-IRES-Cre'], targeted_structures=['VISp']))

,cre_line,donor_name,failed,id,imaging_depth,reporter_line,specimen_name,tags,targeted_structure
0,Emx1-IRES-Cre,280638,False,561312433,275,Ai93(TITL-GCaMP6f),Emx1-IRES-Cre;Camk2a-tTA;Ai93-280638,[],VISp
1,Emx1-IRES-Cre,261458,False,540168835,375,Ai93(TITL-GCaMP6f),Emx1-IRES-Cre;Camk2a-tTA;Ai93-261458,[],VISp
2,Emx1-IRES-Cre,237706,False,517328083,175,Ai93(TITL-GCaMP6f),Emx1-IRES-Cre;Camk2a-tTA;Ai93-237706,[Epileptiform Events],VISp
3,Emx1-IRES-Cre,252174,False,536323956,175,Ai93(TITL-GCaMP6f),Emx1-IRES-Cre;Camk2a-tTA;Ai93(MG)-252174,[],VISp
4,Emx1-IRES-Cre,260936,False,545578995,375,Ai93(TITL-GCaMP6f),Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,[],VISp
5,Emx1-IRES-Cre,260936,False,543677425,175,Ai93(TITL-GCaMP6f),Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,[],VISp
6,Emx1-IRES-Cre,237706,False,527676429,275,Ai93(TITL-GCaMP6f),Emx1-IRES-Cre;Camk2a-tTA;Ai93-237706,[Epileptiform Events],VISp

In [4]:
pd.DataFrame(boc.get_ophys_experiments(experiment_container_ids=[545578995]))

,acquisition_age_days,cre_line,donor_name,experiment_container_id,id,imaging_depth,reporter_line,session_type,specimen_name,targeted_structure
0,107,Emx1-IRES-Cre,260936,545578995,546716391,375,Ai93(TITL-GCaMP6f),three_session_A,Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,VISp
1,105,Emx1-IRES-Cre,260936,545578995,546341286,375,Ai93(TITL-GCaMP6f),three_session_C2,Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,VISp
2,100,Emx1-IRES-Cre,260936,545578995,545578997,375,Ai93(TITL-GCaMP6f),three_session_B,Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,VISp

In [5]:
pd.DataFrame(boc.get_ophys_experiments(experiment_container_ids=[543677425]))

,acquisition_age_days,cre_line,donor_name,experiment_container_id,id,imaging_depth,reporter_line,session_type,specimen_name,targeted_structure
0,99,Emx1-IRES-Cre,260936,543677425,545446482,175,Ai93(TITL-GCaMP6f),three_session_A,Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,VISp
1,93,Emx1-IRES-Cre,260936,543677425,544507627,175,Ai93(TITL-GCaMP6f),three_session_B,Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,VISp
2,91,Emx1-IRES-Cre,260936,543677425,543677427,175,Ai93(TITL-GCaMP6f),three_session_C,Emx1-IRES-Cre;Camk2a-tTA;Ai93-260936,VISp

In [6]:
dataset1 = boc.get_ophys_experiment_data(ophys_experiment_id=545578997)
dataset2 = boc.get_ophys_experiment_data(ophys_experiment_id=544507627)
dataset1.get_stimulus_epoch_table()

            stimulus  start     end
0    static_gratings    743   15189
1     natural_scenes  16093   30538
2        spontaneous  30688   39567
3     natural_scenes  39568   54013
4    static_gratings  54917   69362
5  natural_movie_one  70265   79294
6     natural_scenes  80197   96071
7    static_gratings  97351  113602

In [7]:
df_1 = dataset1.get_stimulus_table(stimulus_name='natural_scenes')
df_1.head()

   frame  start    end
0     86  16093  16100
1     64  16100  16107
2     21  16108  16115
3     79  16115  16122
4    116  16123  16130

In [8]:
df_2 = dataset2.get_stimulus_table(stimulus_name='natural_scenes')
df_2.head(6)

   frame  start    end
0    107  16097  16104
1     28  16105  16112
2     73  16112  16119
3     49  16120  16127
4    109  16127  16134
5    103  16135  16142

In [9]:
def get_ns_frame_from_timestamp(boc,ophys_experiment_id, timestamps):
    '''
    Get natural stimuli frames that are presented at specificed timestamps
    
    Code will through error if timestamps are not from natural_scenes epoch
    
    Inputs:
        boc: brainObservatoryCache
        ophys_experiment_id: ophys_experiment_id
        timestamps: list dff_timestamps 
    Output
        output: List of Frames presented for each item in list timstamps
    '''
    
    
    dataset = boc.get_ophys_experiment_data(ophys_experiment_id=ophys_experiment_id)
    df = dataset.get_stimulus_table(stimulus_name='natural_scenes')
    
    start_list = df.start.tolist()
    end_list = df.end.tolist()
    frames_list = df.frame.tolist()
    
    output = []
    for timestamp in timestamps:
        
        if dataset.get_stimulus(frame_ind=timestamp)
        
        start_bool = np.array(timestamp) >= start_list
        end_bool = np.array(timestamp) <= end_list
        index =  [a and b for a, b in zip(start_bool, end_bool)]
#         print np.where(index)[0][0]
        output.append(int(np.where(index)[0][0]))
        
    return output

In [44]:
timestamps = [11386, 11387, 11388, 11389, 11390, 11391, 11392, 11393, 11394, 11395, 11396, 11397,
11398, 11399, 11400, 11401, 11402, 11403, 11405, 11450, 11451, 11452, 11456, 11458,
17671, 17672, 18497, 18498, 18499, 18500, 18515, 18516, 18518, 18519, 18610, 18611,
18612, 18613, 18614, 18615, 21045, 21046, 21047, 28227, 28229, 28881, 28882, 28884,
28885, 38841, 38842, 38843, 38844, 38845, 38846, 38849]

timestamps = [17671, 17672, 18497, 18498, 18499, 18500, 18515, 18516, 18518, 18519, 18610, 18611,
18612, 18613, 18614, 18615]

In [45]:
ophys_experiment_id=570080979
dataset = boc.get_ophys_experiment_data(ophys_experiment_id=ophys_experiment_id)
dataset.get_stimulus_table(stimulus_name='natural_scenes').head()
dataset.get_stimulus_table(stimulus_name='spontaneous').head()

# toy = dataset.get_stimulus(frame_ind=28882)



get_ns_frame_from_timestamp(boc,ophys_experiment_id, timestamps)

[204,
 205,
 314,
 314,
 314,
 314,
 316,
 316,
 317,
 317,
 329,
 329,
 329,
 329,
 329,
 330]

In [43]:
toy = dataset.get_stimulus(frame_ind=11393)
toy[1]['stimulus']

TypeError: 'NoneType' object has no attribute '__getitem__'

In [ ]:
[11386 11387 11388 11389 11390 11391 11392 11393 11394 11395 11396 11397
11398 11399 11400 11401 11402 11403 11405 11450 11451 11452 11456 11458
17671 17672 18497 18498 18499 18500 18515 18516 18518 18519 18610 18611
18612 18613 18614 18615 21045 21046 21047 28227 28229 28881 28882 28884
28885 38841 38842 38843 38844 38845 38846 38849]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

x = np.array(a) >= 3
y = np.array(a) < 5

[a and b for a, b in zip(x, y)]